<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pending</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of lists">  
    <ion-item>
      {{ item.name }}
    </ion-item>
    <h2>{{ item.nombre }}</h2>
    <ion-list>
      <ion-item *ngFor="let listItem of item.items">
        <ion-icon name="arrow-dropright-circle"></ion-icon>
        {{ listItem.name }}
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab right bottom (click)="goToAddPage()">
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
